@import "../../../../styles/variables";

.wrapper{
  width: 800px;
  @media (max-width: 1600px) {
    width: 600px;
  }
  @media (max-width: 1300px) {
    width: 400px;
  }
  @media (max-width: 991px) {
    width: 400px;
  }
  @media (max-width: 780px) {
    width: 210px;
  }
}

.image_item {
  width: 164px;
  height: 149px;
}