@import "../../../../styles/variables";

.wrapper {
  max-height: 584px;
  overflow: auto;
  margin-top: 16px;
  padding-right: 32px;
}

.element {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 20px;
  padding: 16px 0;
  border-bottom: 1px solid rgb(135, 135, 135, .2);

  &:last-child {
    border: none;
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }
}

.home_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  &_image {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #efeaea;
  }
}

.item {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_name {
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: $text-color;
    }

    &_heart {
      svg {
        display: block;
        margin-top: 2px;
        cursor: pointer;
      }
    }
  }

  &__middle {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: $text-color;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: $text-color;
    font-weight: 500;
  }
}

.price {
  display: inline-block;
  margin-right: 10px;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: $items-color;
}

.heart_hover_white {
  path {
    transition: fill .4s, stroke .4s;
    &:hover {
      fill: #C4C4C4;
      stroke: #C4C4C4;
    }
    &:active{
      fill: #E55858;
      stroke: #E55858;
    }
  }
}

.heart_hover_red {
  path {
    transition: fill .4s, stroke .4s;
    &:hover {
      fill: #C4C4C4;
      stroke: #C4C4C4;
    }
    &:active{
      fill: white;
      stroke: #C4C4C4;
    }
  }
}