@import "../../../styles/variables";

.button{
  width: 116px;
  height: 34px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  background: linear-gradient(to right, #2E5238, #BE8022);
  transition: opacity .3s ease-in-out;
  cursor: pointer;

  &:hover{
    opacity: .8;
  }

  &:active{
    opacity: 1;
  }
}